/**
scipt di style per Question Test - Prevision Neural Test (rete di test)
**/

body,html{
  max-width:100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 } 
 
 #wrap{
   width: 70em;
   margin-left: auto;
   margin-right: auto;
 }

.panes{
  display: inline-block;
  vertical-align: top;
}

#layerdef{
  width:85em;
  height:15em;
}

#layerexe{
  width:85em; 
  height:25em;
}


#configurazione_rete, #pannello_rete{
  display:block;
}

#button_cleanTextarea, #button_newfield, #button_prevision, #button_JSON, #button_upload, #button_dettaglio-animation, #button_back{
    color:#0f1934;
    background-color:#ffffff; 
    border:0.8em solid #0f1934;
    border-radius:2em;
    font-style:italic;
    font-weight:bold;   
  }

  #button_dettaglio-animation{
    color:  #7fffd4;
    background-color:#ffffff; 
    border:0.8em solid #7fffd4;
  }

  #button_cleanTextarea{
    color:	#9932cc;
    background-color:#ffffff; 
    border:0.8em solid 	#9932cc;
  }


 #setter_numberfields{
    margin-left: 33em;
    margin-top: 1.5em;
  }

 #myCanvas, #button_dettaglio-animation, #myCanvas-detail, #title_questionsdetail, #button_back{
    display:none;
  }

  #button_dettaglio-animation{
    margin-left: 30em;
    -webkit-margin-start:38em;
    }

  #primary_title{
    margin-left: 9em;
  }

  #myCanvas{
    margin-left:24em;
    -webkit-margin-start:27.5em;
  }

  #myCanvas-detail{
    margin-left: 26em;
    -webkit-margin-start:30em;
  }

  #button_prevision{
    color:#ff7f50;
    border:0.8em solid #ff7f50; 
    margin-left: 75em;
    -webkit-margin-start:76em;
    margin-top: -3em;
  }

  #title, #title_vettore, #title_previsione, #primary_title, #button_dettaglio-animation, #title_questionsdetail{
    margin-bottom:1em;
    color:#0f1934;
    font-style:italic;
    font-weight:bold;  
  }

  #title, #title_previsione, #title_questionsdetail{
    text-transform:uppercase;
  }

  #title_vettore{
    color:#ff7f50;
  }


  #myForm_radio0, #myForm_radio3, #myForm_radio6{
    margin-right: 55em;
  }

  #myForm_radio1, #myForm_radio4{
    margin-left: 25em;
    margin-right: 31em;
    margin-top: -4.5em;
  }

  #myForm_radio2, #myForm_radio5{
    margin-left: 49em;
    margin-right: 8em;
    margin-top: -4.5em;
  }

